In [2]:
import pandas as pd
import numpy as np

In [3]:
data = pd.read_csv("Consolidated_Total_COVID_List.csv")

In [4]:
data.describe()

,Study ID,Days prior to onset of SX,Temperature at admission,Pulse oximetry at admission,FIO2 at admission (%),RR at admission,BMI,Average MAP on admission,Peak SBP,Peak DBP,...,WBC at admmsion,Absolute lymphocyte count at admission,Hb at admission,AST on admission,Peak AST,ALT on admission,Peak ALT,PTT at admission,Unnamed: 126,Unnamed: 127
count,300.000000,53.000000,42.000000,19.000000,19.000000,19.000000,18.000000,19.000000,16.000000,16.000000,...,19.000000,54.000000,19.000000,47.000000,9.000000,49.000000,8.000000,15.000000,0.0,0.0
mean,150.500000,6.471698,37.990476,90.526316,27.421053,19.315789,29.226667,89.526316,161.562500,89.125000,...,5.317895,589.520185,27.526316,54.765957,39.777778,45.877551,36.500000,22.753333,NaN,NaN
std,86.746758,4.418509,0.890549,20.535521,18.851218,3.697636,5.228285,10.145434,33.535988,11.412712,...,2.598020,577.372825,40.947322,71.311385,16.376643,66.166971,28.774989,12.117571,NaN,NaN
min,1.000000,1.000000,36.400000,10.000000,21.000000,15.000000,20.200000,73.000000,108.000000,70.000000,...,0.620000,0.250000,7.300000,16.000000,23.000000,6.000000,13.000000,1.200000,NaN,NaN
25%,75.750000,3.000000,37.200000,91.000000,21.000000,16.500000,25.162500,81.000000,142.000000,79.750000,...,3.975000,1.550000,13.600000,25.500000,28.000000,19.000000,15.500000,12.800000,NaN,NaN
50%,150.500000,6.000000,38.200000,96.000000,21.000000,18.000000,29.060000,90.000000,157.000000,92.500000,...,5.380000,525.000000,14.400000,33.000000,36.000000,27.000000,29.500000,25.300000,NaN,NaN
75%,225.250000,8.000000,38.600000,98.000000,21.000000,22.000000,31.002500,96.000000,176.250000,96.250000,...,7.280000,980.000000,16.200000,48.500000,44.000000,41.000000,39.000000,30.750000,NaN,NaN
max,300.000000,21.000000,39.500000,112.000000,100.000000,30.000000,40.460000,108.000000,244.000000,114.000000,...,9.690000,1810.000000,146.000000,461.000000,72.000000,405.000000,94.000000,40.600000,NaN,NaN